
body{
	background-color: #005883;
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;

}

h1{
	font-size: 40px;
	color: white;
	text-align: center;
	margin: 25px;
	
}

nav{
	top: -20px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 20px auto;
	
	max-width: 1000px;
	width:90%;
	
	
}
nav.seg{
	background-color: #a7b4b7;
	width: 300px;
	height: 300px;
	
	
}
nav.terc{
	background-color: #a7b4b7;
	width: 300px;
	height: 200px;
	
	
}
nav ul{
	list-style: none;
}
nav > ul{
	display: table;
	width: 100%
	position: relative;
	background: #F0B429;
}
nav > ul li{
	display: table-cell;
}

nav > ul > li:hover > ul{
	display: block
	height: 100%;
}
nav > ul > li > ul{
	display: block;
	position: absolute;
	background:#F0B429;
	left: 0;
	right: 0;
}
nav > ul > li > ul > li a:hover {
	background:#5da5a2;
}



nav > ul li a{
	color: white;
	text-decoration: none;
	display: block;
	line-height:20px;
	padding: 20px;  
	position: relative;
	text-align: center;
	
}

section{
	
	
}
td.first{
	
	text-align: justify;
	font-size: 20px;
	color: white;
	margin-top: 50px;
	padding: 20px 0 0;
	
}
td.second{
	
	text-align: justify;
	font-size: 20px;
	margin-top: 50px;
	padding: 20px 0 0;
}
td.terc{
	text-align: justify;
	font-size: 20px;
	margin-top: 50px;
	padding: 0 0 0;
}
td.cuart{
	text-align: justify;
	font-size: 20px;
	margin-top: 50px;
	padding: 0 0 20px 20px;
	color: white;
}
td.quint{
	text-align: justify;
	font-size: 20px;
	margin-top: 50px;
	padding: 0 0 0;
}
td.sext{
	text-align: justify;
	font-size: 20px;
	margin-top: 50px;
	padding: 0 0 20px 20px;
	color: white;
}
.img{
	text-decoration: none;
	margin-left: 70px;
}
footer{
	width: 1000px;
	height: 100px;
	background-color: Black;
}
h4{
	font-size: 13px;
	text-align: center;
	font-style: italic;
	color: white;
}